# This file is used to configure npm settings for the project

# Use the npm registry for package installation
# for AWS Amplify Hosting configuration
# see https://github.com/aws-amplify/amplify-hosting/blob/main/FAQ.md#support-for-monorepo-framework
node-linker=hoisted
